@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.circuit_board{
      
  display: flex;
  /* width:1000px; */
  flex-wrap: wrap;
  background: rgb(240, 240, 240);
  border-radius: 10px;
  /* transform: scale(.7); */
  /* margin-left:100px; */
  /* margin-inline: -10px; */
  /* box-shadow: 10px 10px 10px #f0f0f0; */
  outline: 1px solid rgb(119, 184, 201);
}

.break {
  flex-basis: 100%;
  height: 0;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  
  top: -10px;
  /* display:inline; */
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 1px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: .9; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.mainSlider {
  
  top: -10px;
  /* display:inline; */
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 20px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: .4; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.mainSlider:hover {
  opacity: .9; /* Fully shown on mouse-over */
}

.mainSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 3px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #7a7a7a; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.mainSlider::-moz-range-thumb {
  width: 3px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}



/* Mouse-over effects */
.slider:hover {
  opacity: .9; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 3px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #7a7a7a; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 3px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.layer{
  outline: 1px solid rgb(119, 184, 201);
  display: flex;
  flex-wrap: wrap;
  background: rgb(255, 255, 255);
  max-width: 200px;
  justify-content: center;
  margin-right:0px;
  border-radius: 2pt;
  /* box-shadow: 10px 10px 10px #b1b1b1; */
}
.sidebar{
  outline: 1px solid rgb(119, 184, 201);
  /* display: flex;
  flex-wrap: wrap; */
  background: rgb(255, 255, 255);
  /* max-width: 200px;
  justify-content: center; */
  margin-right:0px;
  border-radius: 2pt;
  box-shadow: 10px 10px 10px #f0f0f0;
}

.layer.input{
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
}
.gru{
  /* outline: 1px solid rgb(119, 184, 201); */
  display: flex;
  flex-wrap: wrap;
  background: rgb(255, 255, 255);
  /* margin-top: 50px; */
  margin-right:0px;
  border-radius: 2pt;
  margin: 6px;
  cursor:pointer;
  justify-content: center;
}


.layer.wb{
  outline: 1px solid rgb(119, 184, 201);
  cursor:pointer;
  justify-content: center;
  background: rgb(255, 255, 255);
  margin: 6px;

  border-radius: 2pt;
}

/* .layer:hover{
  transform: scale(1.001);
  
} */

/* .connections:hover{
  transform: scale(1.01);
  cursor:default;
} */


.capacitor{
  filter: drop-shadow(10px 10px 10px #2B9C3D);
}
.resistor{
  filter: drop-shadow(1px 1px 1px #2B9C3D);
}

.description{
  /* margin-top: 6px; */
  font-size: 10px;
  font-family: 'Roboto Mono';
  /* font-weight: 500; */
  font-style: normal;
}

.description.dense{
  /* margin-top: 6px; */
  font-size: 12px;
  font-family: 'Roboto Mono';
  /* font-weight: 500; */
  font-style: normal;
}
.description.title{
  /* position: fixed; */
  font-size: 400%;
  max-width: 600px;
  /* margin-right: 100; */
  color: rgb(0, 0, 0);
  justify-content:left;
}

.description.subtitle{
  /* position: fixed; */
  font-size: 100%;
  max-width: 600px;
  /* margin-right: 100; */
  color: rgb(0, 0, 0);
  justify-content:left;
  font-style: italic;
}

.description.layer{
  font-size: 12px;
  color: grey;
  top: 10px;
  bottom: 0;
  left: 7%;
  right: 0;
}
.description.white{
  font-size: 12px;
  color: white;
}

.transformType:hover{
  background-color: rgb(212,212,212);
}
